
build:
  stage: build
  image: docker:19.03.12
  services:
    - docker:19.03.12-dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t ${CI_REGISTRY_IMAGE}/web:latest .
    - docker push ${CI_REGISTRY_IMAGE}/web:latest

deploy:
  stage: deploy  
  image: lwolf/kubectl_deployer:1.18.3
  before_script:
    - kubectl config set-cluster my-cluster --server="$K3S_URL" --insecure-skip-tls-verify=true
    - kubectl config set-credentials admin --token="$K3S_TOKEN"
    - kubectl config set-context default-context --cluster=my-cluster --user=admin
    - kubectl config use-context default-context
  script:    
    - kubectl apply -f ./templates/web.yml