* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}

* body {
    background: #1c1e2a;
    opacity: 0.9;
    color: #ffffff;
    padding: 0 8.5%;
    position: relative;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0 10px;
}

nav a {
    text-decoration: none;
}

nav a h1 {
    font-family: 'Permanent Marker';
    color: #fff;
    font-size: 40px;
}

nav ul {
    flex: 1;
    text-align: right;
    padding: 10px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
}

nav ul li a:hover {
    color: #94AADD;
}

.text-box {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
}

.text-box p {
    font-size: 17px;
    max-width: 630px;
}

.text-box ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
}

.text-box ul li img {
    width: 32px;
    height: 32px;
}

.input-div {
    height: 300px;
    display: flex;
    align-items: flex-end;
}

.input-div span {
    font-size: 65px;
    font-weight: bold;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.summary-box {
    margin-top: 102px;
}

.summary-header {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-header img {
    padding-top: 10px;
    height: fit-content;
}

.all-column {
    margin-top: 69px;
    margin-bottom: 147px;
}

.left-column {
    list-style-image: url("/images/list-bullet.svg");
    list-style-position: outside;
}

.left-column br {
    content: "";
    margin: 3px;
    display: block;
    font-size: 24%;
    outline: red;
}

.box-naming {
    margin-top: 32px;
    margin-bottom: 12px;
    font-size: 24px;
}

.box-list {
    width: 420px;
    font-size: 17px;
    margin-top: 10px;
    margin-left: 40px;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.box-list p {
    margin: 7px 7px;
}

@media (min-width: 1100px) {
    .right-column {
        position: absolute;
        left: 60%;
        top: 815px;
    }
}

.right-column p {
    width: 75px;
    word-break: keep-all;
}

.skill-flex {
    display: flex;
    align-items: center;
    text-align: right;
}

.skill-box {
    width: 263px;
    height: 8px;
    border-radius: 4px;
    background: #C5C5C5;
}

.skill-fill {
    height: 8px;
    border-radius: 4px 0 0 4px;
    background: #515075;
}