* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}

* body {
    background: #1c1e2a;
    opacity: 0.9;
    color: #ffffff;
    padding: 0 8.5%;
    position: relative;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0 10px;
}

nav a {
    text-decoration: none;
}

nav a h1 {
    font-family: 'Permanent Marker';
    color: #fff;
    font-size: 40px;
}

nav ul {
    flex: 1;
    text-align: right;
    padding: 10px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
}

nav ul li a:hover {
    color: #94AADD;
}

.text-box {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
}

.text-box p {
    font-size: 17px;
    max-width: 630px;
}

.text-box ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
}

.text-box ul li img {
    width: 32px;
    height: 32px;
}

.input-div {
    height: 300px;
    display: flex;
    align-items: flex-end;
}

.input-div span {
    font-size: 65px;
    font-weight: bold;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
